<%= form_tag profiles_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Encontre um fotógrafo"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% @profiles.each do |profile| %>
    <h2> <%= link_to profile.first_name, profile_path(profile) %> </h2>
<% end %>