<style>
    h3 {
        font-family: sans-serif;
    }
    p {
        font-family: sans-serif;
    }

</style>

<p>Hallo <%= @user.profile.first_name %>,</p>

<h3>Bem vindo ao Helmut!</h3>

<p>Seu perfil foi registrado :)</p>