<%= form_tag jobs_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Encontre sua pauta"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% @jobs.each do |job| %>
  <%# if job.user == current_user %>
    <h2> <%= link_to job.title, job_path(job) %> </h2>
  <%# end %>
<% end %>
