<% @profiles.each do |profile| %>
    <%= simple_form_for [ @job, @skill ] do |f| %>
        <h2> <%= link_to profile.first_name, profile_path(profile) %> </h2>
            <%= f.hidden_field :profile_id, value: profile.id %>
            <%= f.submit "Pautar", class: "btn btn-primary" %>
    <% end %>
<% end %>
